@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

//Custom

.onePosititon {
	margin-bottom: ($spacer *2);
}

.container{
	margin-top: ($spacer *6);
	margin-bottom: ($spacer *6);
}

.section{
	margin-top: ($spacer * 2);
}

.hero-photo{
	max-width: 100%;
}

.positionDescription{
}

.competencies ul {
	padding-left:20px;
}

.side-bar {
	background-color:#ddd;
	h3 {
		font-size: 1.4rem;
	}
}

.about_me {
	font-size: .8rem;
}


@import "media"; // Always at the end
